<div id="heading2">
    <h1>{{aim}}</h1>
</div>

<div class="container mainbox w-25 border mt-5 text-center p-2">
    <h3 id="login-H">Login</h3>
    <form action="" (ngSubmit)="login()">
        <div class="mt-2">
            <input type="text" [(ngModel)]="acno" class="form-control  " [placeholder]="data" id="acid" name="accno">
        </div>
        <div class="mt-2">
            <input type="password" [(ngModel)]="psw" class="form-control mt-2" placeholder="Password" id="pid" name="pasw">
        </div>
        <div class="mb-2">
            <button class="btn btn-primary mt-2 " type="submit" >Login</button>
        </div>
        
    </form>
    <div class="mt-2">
        <a class="text-white" routerLink="register">Don't have an Account?Click Here</a>
    </div>
    
</div>
