<h2 class="text-white ms-2">Welcome {{user}} </h2>
<h4 class="text-white ms-2"> Date and Time:{{dateandtime | date : 'short'}}</h4>
<div class="p-3 ">
    <a routerLink="/transaction" class="history-div container border p-3 ms-3 mt-3">View transaction history</a>
</div>
<div class="container  p-3 ms-3 mt-3" >
    <button class="btn btn-danger " (click)="logout()">Logout</button>
    <button class="btn btn-danger ms-2 " (click)="deleteconfirm()">Delete</button>
</div>

<app-deleteconfim (onDelete)="delete($event)" (onCancel)="oncancel()" [item]="acno"></app-deleteconfim>
<div [ngClass]="acno?'style':''" class="container w-50 border text-center dashboard" >
    <h3 class="dash-Head mt-3">Deposit</h3>
    <div class="mt-2 p-2">
        <form action="" (ngSubmit)="deposit()" [formGroup]="depositform">
            <div class="mt-2 p-2">
                <input type="text" id="accno" name="acno" formControlName="acno" class="form-control mt-2 p-2" placeholder="Account Number">
            </div>
            <div *ngIf="this.depositform.get('acno')?.errors && this.depositform.get('acno')?.touched">
                <p class="text-danger">Enter Valid Data</p>
            </div>
            <div class="mt-2 p-2">
                <input type="text" id="psww" name="psw" formControlName="psw" class="form-control mt-2 p-2" placeholder="Password">
            </div>
            <div *ngIf="this.depositform.get('psw')?.errors && this.depositform.get('psw')?.touched">
                <p class="text-danger">Enter Valid Data</p>
            </div>
            <div class="mt-2 p-2">
                <input type="text" id="amm" name="amount"  formControlName="amnt" class="form-control mt-2 p-2" placeholder="Amount">
            </div>
            <div *ngIf="this.depositform.get('amnt')?.errors && this.depositform.get('amnt')?.touched">
                <p class="text-danger">Enter Valid Amount</p>
            </div>
            <div class="mt-2 p-2">
                <button type="submit" class="btn btn-primary">Deposit</button>
            </div>
            
        </form>
    </div>
</div>

<div [ngClass]="acno?'style':''" class="container w-50 border text-center dashboard mt-3" >
    <h3 class="dash-Head mt-3">Withdraw</h3>
    <div class="mt-2 p-2">
        <form action=""  (ngSubmit)="Withdraw()" [formGroup]="withdrawlform" >
            <div class="mt-2 p-2">
                <input type="text" id="accno1" name="acno1" formControlName="acno1" class="form-control mt-2 p-2" placeholder="Account Number">
            </div>
            <div *ngIf="this.withdrawlform.get('acno1')?.errors && this.withdrawlform.get('acno1')?.touched">
                <p class="text-danger">Enter Valid Data</p>
            </div>
            <div class="mt-2 p-2">
                <input type="text" id="psww1" name="psw1" formControlName="psw1" class="form-control mt-2 p-2" placeholder="Password">
            </div>
            <div *ngIf="this.withdrawlform.get('psw1')?.errors && this.withdrawlform.get('psw1')?.touched">
                <p class="text-danger">Enter Valid Data</p>
            </div>
            <div class="mt-2 p-2">
                <input type="text" id="amm1" name="amount1" formControlName="amount1" class="form-control mt-2 p-2" placeholder="Amount">
            </div>
            <div *ngIf="this.withdrawlform.get('amount1')?.errors && this.withdrawlform.get('amount1')?.touched">
                <p class="text-danger">Enter Valid Amount</p>
            </div>
            <div class="mt-2 p-2">
                <button type="submit" class="btn btn-primary">Withdraw</button>
            </div>
            
        </form>
    </div>
</div>
